<nav class="base-nav__horizontal">
    <ul class="base-nav__horizontal-menu">
        <li class="base-nav__horizontal-menu-link">
            <a href="/">GitHub Page</a>
        </li>
        <li class="divider">|</li>
        <li class="base-nav__horizontal-menu-link">
            <a href="/projects">Projects</a>
        </li>
        <li class="divider">|</li>
        <li class="base-nav__horizontal-menu-link">
            <a href="/repositories">Repositories</a>
        </li>
    </ul>
</nav>